.subtitle_1 {
  color: white;
}

.subtitle_2 {
  color: brown;
  text-decoration: underline;
}

.show_my_button {
  padding: 15px;
  border-radius: 38px;
  border: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.show_my_button:hover {
  cursor: pointer;
  background-color: brown;
  color: white;
}
